<div>
    <form [formGroup]="formulario">
  <div>
    <label for="x1">x1</label>
    <input id="x1" formControlName="x1" type="number">
  </div>

  <div>
    <label for="y1">y1</label>
    <input id="y1" formControlName="y1" type="number">
  </div>

  <div>
    <label for="x2">x2</label>
    <input id="x2" formControlName="x2" type="number">
  </div>

  <div>
    <label for="y2">y2</label>
    <input id="y2" formControlName="y2" type="number">
  </div>

  <div>
    <button type="button" class="btn btn-primary" (click)="calc()">CALCULAR</button>
  </div>
  </form>

  <div>
    La distancia entre los dos puntos es: {{ resultado }}
  </div>
</div>
